{% extends "base.html.twig" %}

{% block body %}
    <h2>Opatření, která se plně projevila ({{ active_rulings | length }})</h2>
    <div class="card-deck mb-3 text-center">
        {% for ruling in active_rulings %}
            {% include 'ruling.twig' %}
        {% endfor %}
    </div>
    <h2>Opatření, která se začla projevovat ({{ started_rulings | length }})</h2>
    <div class="card-deck mb-3 text-center">
        {% for ruling in started_rulings %}
            {% include 'ruling.twig' %}
        {% endfor %}
    </div>
    <h2>Opatření, která se tepve projeví ({{ inactive_rulings | length }})</h2>
    <div class="card-deck mb-3 text-center">
        {% for ruling in inactive_rulings %}
            {% include 'ruling.twig' %}
        {% endfor %}
    </div>

    <div>
        <h2>FAQ</h2>
        <dl>
            <dt>Podle čeho určíme čas za jak dlouho se opatření projeví</dt>
            <dd>Podle Lina <a href="#ref1">[1]</a> můžeme z počtu úmrtí (což je poměrně přesná hodnota) usuzovat na
                ostatní věci se zpožděním 21 až 28 dní. Důvodem je to, že symptomy (hospitalizace) se objevují po 3 až
                10 dnech a
                smrt nastáva průměrně po 18 dnech hospitalizace. Jakékoli opatření, která zavedeme, můžeme tedy
                vyhodnocovat jen s tímto
                odpovídajícím odstupem.
            </dd>
            <dt>Co když jsem našel/a chybu?</dt>
            <dd>Udělejte issue na githubu nebo mi napište třeba na <a href="http://m.me/tomasfejfar">FB messenger</a></dd>
        </dl>
    </div>
{% endblock %}
